<!DOCTYPE html>
<html>
<head>
  
<style> 
#board {
  width: 500px;
  border: 3px solid black;
  display: flex;
}

#player {
    width: 100%;
    display: -webkit-flex; /* Safari */
    display: flex;
}

#player {
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}

.tile {
  font-size: 40px;
}
</style>
<script type="text/javascript">

function createDealLink(div, button, url) {
  return function() {
    button.onclick = null;
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
        if (xmlhttp.responseText == 'error') {
          alert('bad move!');
        } else {
          var pool = document.getElementById('tilepool');
          var responseData = JSON.parse(xmlhttp.responseText);
          pool.innerHTML = '<<<' + responseData['board'] + '>>>';
          var parent = div.parentNode;
          var choices = responseData['choices'];
          var cpu1 = document.getElementById('cpu1');
          var cpu2 = document.getElementById('cpu2');
          var cpu3 = document.getElementById('cpu3');
          cpu1.innerHTML = 'CPU1 ' + choices[0];
          cpu2.innerHTML = 'CPU2 ' + choices[1];
          cpu3.innerHTML = 'CPU3 ' + choices[2];

          if (responseData.hasOwnProperty('result')) {
            var result = document.getElementById('result');
            result.innerHTML = responseData['result'].replace(/(\r\n|\n|\r)/gm, "<br>");
          };
          parent.removeChild(div);
        }
      }
    };
    xmlhttp.open('GET', url, true);
    xmlhttp.send();
  }
}

function clickTile(div) {
  var left = document.createElement('BUTTON');
  left.appendChild(document.createTextNode('<<<'));
  var discard = document.createElement('BUTTON');
  discard.appendChild(document.createTextNode('discard'));
  var right = document.createElement('BUTTON');
  right.appendChild(document.createTextNode('>>>'));
  var gameId = window.location.search.substring('?gameId='.length);
  var tileNodes = div.parentNode.childNodes;
  var tileId = -1;
  for (var i = 0; i < tileNodes.length; i++) {
    if (tileNodes[i].nodeName == 'DIV') {
      tileId = tileId + 1;
      if (div.id == tileNodes[i].id) {
      break;
      }
    }
  };
  left.onclick = createDealLink(div, left, 
    'API?action=deal&isLeft=1&gameId=' + gameId + '&tileId=' + tileId);
  div.appendChild(left);

  discard.onclick = createDealLink(div, discard, 
    'API?action=deal&isDiscard=1&gameId=' + gameId + '&tileId=' + tileId);
  div.appendChild(discard);

  right.onclick = createDealLink(div, right, 
    'API?action=deal&isLeft=0&gameId=' + gameId + '&tileId=' + tileId);
  div.appendChild(right);
  div.onclick = null;
}

function startGame(div) {
  var xmlhttp = new XMLHttpRequest();
  div.innerHTML = 'Generating a new game!'
  xmlhttp.onreadystatechange = function() {
    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
      setInterval(function() {
        var gameId = xmlhttp.responseText;
        var url = '?gameId=' + gameId;
        var a = document.createElement('a');
        a.href = url;
        a.click();
      }, 2000);
    }
  };
  xmlhttp.open('GET', 'API?action=start', true);
  xmlhttp.send();
}
</script>
</head>

  <body>
    <button onclick='startGame(this)'>New game!</button>
    {% if mobileSite %}
    <a href="http://dingniu-ddd.appspot.com">Try fancy tiles? Go to full version!</a>
    {% else %}
    <a href="http://dingniu-ddd-mobile.appspot.com">No tile after clicking? Go to text version!</a>
    {% endif %}

    <table>
    <tr>
      <td></td>  <td style="background-color:Green">
        <div class='tile' id='cpu2'>
          CPU2
        </div>
      </td>  <td></td>
    </tr>
    <tr>
      <td style="background-color:DarkOrange">
        <div class='tile' id='cpu3'>
          CPU3
        </div>
      </td> <td>
            <div id='board'>
      <div class='tile' id='tilepool'> <<< {{tilepool}} >>> </div>
    </div>
      </td>

      <td style="background-color:Red">
        <div class='tile' id='cpu1'>
          CPU1
        </div>
      </td>
    </tr>
    <tr>
      <td></td> 
      <td>
        <div id='player'>
        {% for tile in tile_in_hands %}
        <div class='tile' onclick="clickTile(this)" id='tile{{loop.index0}}'>{{ tile }}
        </div>
      {% endfor %}
      </div>
      </td> 
      <td></td>
    </tr>
   </table>
    <div id='result'>
    </div>
  </body>
</html>
